<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="parallax-img-container">
				<img src="/documents/{{ category.details[0].imagePath }}" class="img-fluid">				
			</div>
		</div>		
		<div class="col-xs-12 col-sm-8">
			<div class="parallax-text-container">
				<h1 class="h2 p-t-2 p-b-1 category-title">{{ category.details[0].name | raw }}</h1>
				{{ category.details[0].description | raw }}
			</div>
		</div>		
	</div>
</div>