body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: white;
	> #vue-app,
	> #vue-error {
		background-color: white;		
	}
}


.page-content {
	background-color: white;	
}
// Header Start
.top-top-bar {
	background-color:#3c3c3b;
	padding: .5rem 0;
	span, i {
		color:white;
		a {
			color:white;
		}
	}
	#controlsList {
		margin:0;
		font-size: 1rem;
		> li {
			a {
				padding:0;
				font-size: 1rem;
					&:hover {
						background-color: unset;
					}
				}
			}	
	}
}

.top-bar {
	background-color: #f2f2f2;
	&.spacer {		
    position: relative;
    visibility: hidden;
	}
	.brand-wrapper {
		position: relative;
		padding:0;
		.navbar-brand {
			padding: 0;
			img {
			    height: 3rem;
			    width: 100%;
			}
		}
	}
	#searchBox2 {
	    padding: 0;
	    position: relative;
	    top: 0;
	    background-color: unset;
	    width: 38%;
	    right: unset;
	    left: 0;
	    margin-right: 2rem;
	    display: block;
	    flex: 1 0 auto;
	    .search-box-inner {
	      padding: 0;
	      margin-top: .15rem;
	        .search-box-shadow-frame {
	          box-shadow: none;
	        }
	        .search-input {
	          padding:.2rem 1rem;
	          background-color: #e6e6e6;
	          	&::placeholder {
	            	font-size: .75rem;
	            	color:#575756;
	          	}
	      	}	
		}
		.search-submit {
		    background: $brand-primary;
		    color: $white;
		    transition: all .3s;
		}	
	}
	.toggle-basket-preview {
		color:#575756;
	}
}


//anicon start 
.anicon {
	& > .anicon-search-item {        
        &:before {            
            background: white;
            top: 5px;
		}
		
        &:after {            
            background: #3c3c3b;
            border: 1px solid white;            
        }
	}
}


//anicon end

.wrapper-main {
	> nav {
		&.container-max {
			top: unset;	
		}
	}
	#page-body {	    	    
	    margin-top: unset;
    }
	.navbar {
		background-color:#e6e6e6;
		border-bottom: none;
		#mainNavbarCollapsable {
			ul{
				&.mainmenu {
					> li {
						padding: .75rem 1rem;
						> a {
							padding: .25rem;
							color: #3c3c3b;
							border-bottom: 2px solid transparent;
							font-family: $font-family-serif;
							}
						&:hover {
							background-color: #3c3c3b;
							> a {
								border-bottom: 2px solid $brand-primary;
								color: white;
							}
						}
						> ul {
							background-color: #3c3c3b;	
							> li {
								padding: .75rem 1rem;
								> a {
									padding: 0 0 .25rem 0;
									border-bottom: 2px solid transparent;
									font-family: $font-family-serif;
									}
								&:hover {
									background-color: #3c3c3b;
									> a {
										border-bottom: 2px solid $brand-primary;
									}
								}		
							}
						}	
					}
				}
			}
		}
	}
}
// Header end

// Footer start
.footer {		
	.bckgr {
		background-color:#3c3c3b;
		p, a, h2, h5, span {
			color: white;	
		}
	}
	.payment, .delivery {
		display: block;
	 img {
	    display: inline-block;
	    position: relative;
	    max-width: 60px;
	    @include media-breakpoint-up(md){
			filter: grayscale(100%);
		    transition: all 0.5s ease;
				&:hover {
					filter: grayscale(0%);
				}
			}	    
		}
	}
	.payment {
    	margin-bottom: .5rem;
	}
	.info {		
		span {		    
		    display: block;
			text-align: center;
			margin-bottom: 1rem;	
		}	
		img {
		    margin: 0.25rem auto;
			max-height: 50px;
		}
	}
	.brands {
		img {
		    display: inline-block;
		    margin: .25rem;
		    max-width: 60px;
		}
	}
	.copyright {
	    font-size: .85rem;
	    display: block;
	    color: white;	    
	    small {
		    font-size: .75rem;
		    display: block;
		    margin: 1rem 0;
		}
	}
}

// Footer end








// Parallax Start
.parallax-img-container {
    height: unset !important;
    max-width:100%;
    
    &[style^='background-image'] {
        width: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-attachment: unset;
		background-position: unset;
		padding-bottom:60%;
		max-width: none;
		position: relative;       
    }
}
// Parallax End

// CategoryListItem / CategoryListItem start
.cmp-product-thumb {
	.prices {    
    	justify-content: flex-end;
	}
	.thumb-title {
		font-weight: 700;
		line-height: 1.5em;
		color: black;
		font-size: 1rem;
	}
	.crossprice {
		font-size: .85rem;
		font-weight: 700;
		color: black;
		position:relative;
		font-family: $font-family-serif;
	 		&:before { 			
			content: "";
			left: 0;
			top: 50%;
			right: 0;
			border-top: 3px solid;
			border-color: red;
			transform: rotate(-5deg);
			position: absolute;
 		}
	}
	.price {
	    color: black;		
		font-size: 1.25rem;
		font-family: $font-family-serif;		
	}
	.thumb-description {
		position: relative;
		display: flex;
		text-overflow: ellipsis;
		max-height: 3.5rem;
		overflow: hidden;
		font-weight: normal;
		margin-bottom: .5rem;
		color:grey;
	}
	.special-tags {	    
	    padding: 0;
	    .tag {
	    	box-shadow: none;
	    	border-radius: 0px;
			margin-left: 1px;
	    }
	}
}


// CategoryListItem / CategoryListItem end


// SingleItem start
.single {
	.articlenumber {
		display:block;
		b {
			width: 115px;
			display: inline-block;
		}
	}
	.crossprice {
		font-size: 1.25rem;
		font-weight: 700;
		color: black;
		position:relative;
		font-family: $font-family-serif;
	 		&:before { 			
			content: "";
			left: 0;
			top: 50%;
			right: 0;
			border-top: 3px solid;
			border-color: red;
			transform: rotate(-5deg);
			position: absolute;
 		}
	}
	.price {
	    color: black;		
		font-size: 2rem;
		font-family: $font-family-serif;
	}
}

// SingleItem end





















