//Global
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: white;
	color:$gray-mgc;
	> #vue-app,
	> #vue-error {
		background-color: white;		
	}
}
-moz-selection,
::selection,
::-moz-selection {
	background: rgba(140, 191, 45, 0.5);
	color: #32343a;
}
.page-content {
	background-color: white;	
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-family-heading;
}

//Buttons
.btn-primary {
	&:hover,
	&:active,
	&:focus {
		background: $gray-mgc;
		border-color: $gray-mgc;
	}
}
.basket-item-quantity,
.item-quantity,
.category-list-view-port {
	.input-group {
		.btn-secondary,
		.btn-secondary.disabled,
		.btn-secondary:disabled {
			background: $gray-lightest-mgc;
			border-color: $input-border-color;
			// color: white;
			// opacity: 1;
		}
	}
}

// Header Start
.top-top-bar {		
	.bckgr {
		background-color:$gray-mgc;
		padding: .5rem 0;
		span, i {
			color:white;
			a {
				color:white;
			}
		}
	}
	.search-anicon {
		ul {
			padding: 0;
			margin:0;
			.anicon  {
				> .anicon-search-item {
					&::after, &::before {
						top: 5px;
					} 
				}
			}
		}
	}
	.navbar-toggler {
		transform: translate(0,-50%);
		margin-top: .4rem;
		color: white;
		padding: 0;
		font-size: 1.85rem;
	}
	
	#controlsList {
		margin:0;
		font-size: 1rem;
		float: none;
		> li {
			a {
				padding:0;
				font-size: 1rem;
					&:hover {
						background-color: unset;
					}
				}
			}	
	}
}

.top-bar {
	background-color: #f2f2f2;
	&.spacer {		
    position: relative;
    visibility: hidden;
	}
	.brand-wrapper {
		position: relative;
		padding:0;
		.navbar-brand {
			padding: 0;
			img {
				height: 4rem;
				max-height: 4rem;
			    width: 100%;
			}
		}
	}
	#searchBox2 {
	    padding: 0;
	    position: relative;
	    top: 0;
	    background-color: unset;
	    width: 38%;
	    right: unset;
	    left: 0;
	    margin-right: 2rem;
	    display: block;
	    flex: 1 0 auto;
	    .search-box-inner {
	      padding: 0;
	      margin-top: .15rem;
	        .search-box-shadow-frame {
	          box-shadow: none;
	        }
	        .search-input {
	          padding:.2rem 1rem;
			  background-color: #e6e6e6;
			  &:hover,
			  &:active,
			  &:focus {background-color: darken($gray-lighter-mgc, 5%);}
	          	&::placeholder {
	            	font-size: .75rem;
	            	color:#575756;
	          	}
	      	}	
		}
		.search-submit {
		    background: $brand-primary;
		    color: $white;
			transition: all .3s;
			&:hover {
				background: $gray-mgc;
			}
		}	
	}
	.toggle-basket-preview {
		color:#575756;
		font-size: 1.2rem;
	}
}


//anicon start 
.anicon {
	& > .anicon-search-item {        
        &:before {            
            background: white;
		}
		
        &:after {            
            background: $gray-mgc;
            border: 1px solid white;            
        }
	}
}


//anicon end

.wrapper-main {
	> nav {
		&.container-max {
			top: unset;	
		}
	}
	#page-body {	    	    
	    margin-top: unset;
    }
	.navbar {
		background-color:$gray-lighter-mgc;
		border-bottom: none;
	}
	// 	#mainNavbarCollapsable {
	// 		ul{
	// 			&.mainmenu {
	// 				> li {
	// 					padding: .75rem 1rem;
	// 					> a {
	// 						padding: .25rem;
	// 						color: $gray-mgc;
	// 						border-bottom: 2px solid transparent;
	// 						font-family: $font-family-serif;
	// 						}
	// 					&:hover {
	// 						background-color: $gray-mgc;
	// 						> a {
	// 							border-bottom: 2px solid $brand-primary;
	// 							color: white;
	// 						}
	// 					}
	// 					> ul {
	// 						background-color: $gray-mgc;	
	// 						> li {
	// 							padding: .75rem 1rem;
	// 							> a {
	// 								padding: 0 0 .25rem 0;
	// 								border-bottom: 2px solid transparent;
	// 								font-family: $font-family-serif;
	// 								}
	// 							&:hover {
	// 								background-color: $gray-mgc;
	// 								> a {
	// 									border-bottom: 2px solid $brand-primary;
	// 								}
	// 							}		
	// 						}
	// 					}	
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}
// Header end

// Footer start
.footer {	
	#brands {
		img {
		filter: grayscale(100%);
	    transition: all 0.5s ease;
			&:hover {
				filter: grayscale(0%);
			}
		}
		.carousel-control {
			width:5%;
			&.left {left: -15px;}
			&.right {right: -15px;}
			@include media-breakpoint-up(xl){
				&.left {left: -60px;}
				&.right {right: -60px;}
			}
			.owl-single-item-control{
				color: $brand-primary;
			} 
		}
	}	
	.bckgr {
		background-color:$gray-mgc;
		p, a, h2, h5, span {
			color: white;	
		}
	}
	.payment, .delivery {
		display: block;
	 img {
	    display: inline-block;
	    position: relative;
		max-width: 60px;
		margin-right:1.2rem;
		margin-bottom:.5rem;
	    @include media-breakpoint-up(md){
			filter: grayscale(100%);
		    transition: all 0.5s ease;
				&:hover {
					filter: grayscale(0%);
				}
			}	    
		}
	}
	.payment {
    	margin-bottom: .5rem;
	}
	.info {		
		span {		    
		    display: block;
			text-align: center;
			margin-bottom: 1rem;	
		}	
		img {
		    margin: 0.25rem auto;
			max-height: 50px;
		}
		.idealo {
			margin-top:0;
			@include media-breakpoint-up(sm){
				margin-top:1.5rem;
			}
		}
		.col-xs-6 {
			margin-bottom:3rem;
			@include media-breakpoint-up(sm){
				margin-bottom:0rem;
			}
		}
	}
	.brands {
		img {
		    display: inline-block;
		    margin: .25rem;
		    max-width: 60px;
		}
	}
	.copyright {
	    font-size: .85rem;
	    display: block;
	    color: white;	    
	    small {
		    font-size: .75rem;
		    display: block;
		    margin: 1rem 0;
		}
	}
}

// Footer end


// Parallax Start
.parallax-img-container {
    height: unset !important;
    max-width:100%;
    
    &[style^='background-image'] {
        width: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-attachment: unset;
		background-position: unset;
		padding-bottom:50%;
		max-width: none;
		position: relative;       
    }
}
// Parallax End


// CategoryListItem / CategoryListItem start
.sidebar-categories {
	.category-title {
		background: $gray-mgc;
		padding: .75rem 1rem;
		text-transform: inherit;
		color: white;
		font-size: 1.25em;
	}
	ul {
		li{
			a {
				&:hover {
					color: white;
					background-color: $gray-mgc;
				}
			}

			&.active{
				> a {
					background: $brand-primary;
					color:white;
				}
				ul {
					li {
						a {
							padding-left: 1.75rem;
						}
						ul {
							li {
								a {
									padding-left: 2.5rem;
								}
							}
						}	
					}
				}
			} 
		} 
		ul {
			background: $gray-lighter2;
		}
	}
}

.cmp-product-thumb {
	.mobile-text-only {
		font-size: .85rem;
		margin: 0; 
	}
	.thumb-content {
		padding: .8rem 0 0 0;
	}
	.prices {    
    	justify-content: flex-end;
    	display:block;
    	@include media-breakpoint-up(sm){
    		display:flex;
    	}
	}
	.thumb-title {
		font-weight: 700;
		line-height: 1.5em;
		color: $gray-mgc;
		font-size: 1rem;
	}
	.crossprice {
		font-size: .85rem;
		font-weight: 700;
		color: $gray-mgc;
		position:relative;
		font-family: $font-family-serif;
	 		&:before { 			
			content: "";
			left: 0;
			top: 50%;
			right: 0;
			border-top: 5px solid;
			border-color: $brand-secondary;
			transform: translateY(-50%) rotate(-5deg);
			position: absolute;
			opacity: .8;
 		}
	}
	.price {
	    color: $gray-mgc;		
		font-size: 1rem;
		font-family: $font-family-serif;
		@include media-breakpoint-up(sm){
			font-size: 1.25rem;
		}		
	}
	.thumb-description {
		position: relative;
		display: inline-block;
		text-overflow: ellipsis;
		max-height: 3.5rem;
		overflow: hidden;
		font-weight: normal;
		margin-bottom: .5rem;
		color:grey;
		p {
		    display: inline-block;
		    margin: 0;
		}
	}
	.special-tags {	    
	    padding: 0;
	    .tag {
	    	box-shadow: none;
	    	border-radius: 0px;
			margin-left: 0px;
			&.bg-danger {background: $brand-secondary;}
	    }
	}
	.mobile-width-button {
		background: $gray-mgc;
		border-color: $gray-mgc;
		color: white;
	}
}
// CategoryListItem / CategoryListItem end


// SingleItem start
.single {
	.articlenumber {
		display:block;
		b {
			width: 115px;
			display: inline-block;
		}
	}
	.availability-preview {
		display: none;
	}
	.crossprice {
		font-size: 1.25rem;
		font-weight: 700;
		color: $gray-mgc;
		position:relative;
		font-family: $font-family-serif;
	 		&:before { 			
			content: "";
			left: 0;
			top: 50%;
			right: 0;
			border-top: 6px solid;
			border-color: $brand-secondary;
			transform: translateY(-50%) rotate(-5deg);
			position: absolute;
			opacity: .8;
 		}
	}
	.price {
	    color: $gray-mgc;		
		font-size: 2rem;
		font-family: $font-family-serif;
	}
	.prop-container {
    	display: flex;
		.item-files {
			a {
				color: $gray-mgc;
			}
		}
	}
	.owl-theme .owl-dots {
		bottom: 15px;
	}
	.nav-tabs .nav-item .nav-link.active, .single .nav-tabs .nav-item .nav-link:hover {
		background: $brand-primary;
		color: white;
		border: 1px solid $brand-primary;
	}
}

// SingleItem end


//Menu start
nav.navbar ul.nav li.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0px;
}

// li.nav-item.dropdown {
// 	min-width: 140px;
// }

.dropdown-menu.dropdown-menu-right {
	min-width: 100%;
}

.dropdown-item.special-case {
	padding: 3px 5px !important;
}

/* settings */
// mobile
$menu-h-sm  			: 100%;
$menu-w-sm  			: 100%;
$menu-bg-sm 			: $brand-primary;
$menu-breadcrumb-bg 	: $gray-darker;
$menu-breadcrumb-color 	: $white;
$menu-color-sm 			: $white;
$menu-font-s-sm  		: 1.2em;
$menu-font-f-sm  		: $font-family-serif;

// desktop
$menu-h-lg  			: 100%;
$menu-w-lg  			: 100%;
$menu-bg-lg 			: transparent;
$menu-color-lg 			: $gray-mgc;
$menu-font-s-lg  		: 1em;
$menu-font-f-lg  		: $font-family-serif;
$menu-li-bg-hover		: $brand-primary;
$menu-li-color-hover	: $gray-mgc;

body.menu-is-visible { 
	overflow-y : hidden;
	position: fixed;
}
#mainNavbarCollapsable {
	background 	: $menu-bg-sm;
	bottom 		: 0;
	color 		: $menu-color-sm;
	font-size 	: $menu-font-s-sm;
	left 		: 0;
	opacity 	: .6;
	overflow-y 	: auto;
	position 	: fixed;
	right 		: 0;
	top 		: 0;
	transform 	: translateX(-100%);
	transition 	: all .3s ease;

	&.open {
		opacity 	: 1;
		transform 	: translateX(0);
	}

	ul.mainmenu {
		list-style 	: none;
		height 		: 100%;
		margin 		: 0;
		padding 	: 0;
		position 	: relative;

		li 	{
			width : 100%;
			cursor: pointer;
			float: left;
			display: flex;
			flex-wrap: wrap;
			padding: .75rem 1rem;
			a 	{
				display : inline-block;
				padding : .25rem;
				flex: 1 0 80%;	
				margin: 0 .5rem;				
			}
			.nav-direction{
				padding: 1rem;
				flex: 1 0 20%;
				text-align: center;
			}

			ul {
				background 	: $menu-bg-sm;
				left 		: 0;
				list-style 	: none;
				margin 		: 0;
				padding 	: 0;
				position 	: relative;
				top 		: 0;
				width 		: 100%;
			}
			&.ddown {
				.nav-direction {
					i {
						transition: transform 300ms ease-out;
						transform: rotateX(0deg);
					}
				}
				.nav-direction[aria-expanded="true"] {
					i {
						transform: rotateX(180deg);
					}
				}
			}			
		}
	}

	

	@include media-breakpoint-up(lg){
		background-color : transparent;
		display 		 : block!important;
		opacity 		 : 1;
		overflow 		 : visible;
		position 		 : relative;
		transform 		 : translateX(0);
		width 			 : 100%;
		font-size 		 : $menu-font-s-lg;
		transition 		 : all .1s ease;

		.breadcrumb { display : none!important; }
		ul.mainmenu {
			color 	: $menu-color-lg;
			display	: flex;
			.open>ul { display : none!important; }
			>li {
				display : inline-block;
				width 	: auto;
				position: static;
				transition: all 300ms;				
				color:$gray-mgc;				
				>a {					
					width:100%;
					border-bottom: 2px solid transparent;
				}			
				&:hover {					
					a {
						border-bottom: 2px solid $brand-primary;			
					}
					ul {
						li {
							a {
								border-bottom: 2px solid transparent;
							}
							&:hover {
								a {
								border-bottom: 2px solid $brand-primary;				
								}
							}
						}
					}
				}	
				>ul {
					display 		: flex;
					flex-wrap		: wrap;
					visibility 		: hidden;
					opacity 		: 0;
					transition 		: all .1s ease;
					background 		: $gray-mgc;
					height 			: auto;
					top 			: 100%;
					text-align 		: center;
					width 			: 100%;
					min-width 		: 100%;
					/*left 			: 50%;
					transform 		: translateX(-50%);*/
					word-wrap		: break-word;
					position 		: absolute;
					padding 		: 1.5em 25% 1em 1em;
					min-height 		: 22em;
					align-content 	: flex-start;

					>li {
						background 	: $menu-big-menu-li-bg;
						color 		: $menu-big-menu-li-color;
						transition  : all .1s ease;
						width 		: 25%;
						min-width	: 150px;
						text-align  : initial;
						align-self 	: flex-start;
						padding 	: 0;
						
						&.menu-cat-img {
							position : absolute;
							right 	 : 0;
							top 	 : 0;
							padding  : .75rem 1rem;
							&:hover {
								a {
							    	border: none !important;
							    }
							}
						}

						&:hover {							
							text-decoration : none;
							background: transparent;
							color: #fff;
							a {
								border-bottom: 2px solid $brand-primary;
							}
						}

						>a {
							width:100%;
						}
					}
				}

				&:hover {					
					color 			 : $menu-li-color-hover;
					transition 		 : all .1s ease;
					background-color:$gray-mgc;
					color:white;					
					>ul {
						visibility 		: visible;
						opacity 		: 1;
						transition 		: all .1s ease;
					}					

				}
				&.ddown>a { transition: all 0s; }
				&.ddown>a:after {
					content : '\f0d7';
					font-size: inherit;
					padding-left:.5em;
					border 			: none;
					float 			: right;
					font-family 	: FontAwesome;
					height 			: auto;
					width 			: auto;
				}
				&.ddown .ddown a:after { display : none; }
			}
		}
	}

}
//Menu end

//Mobile Menu Start
.mobile-navigation {
	ul.mainmenu li {
		a {
			flex: 1 0 60%;
		}
		.nav-direction {
			flex: 1 0 40%;
			text-align: right;
		}
	}
	ul.mainmenu > li { border-bottom: 1px solid white; }
	ul.breadcrumb { margin-bottom: 0; background:$gray-mgc; }
}
//Mobile Menu End

// Homepage start
.home {
	#carousel-example-generic {
		span {
			font-size: 60px;
			bottom: unset;
			top: 50%;
		}
		.carousel-indicators {
		    bottom: unset;
		    top: 0;
		}
		.carousel-item {
			.carousel-caption {
			    bottom: 0;
			    padding-bottom: 0;
			    right: 0;
			    left: 0;
			    h1 {
			    	display:block;
			    	font-size:1.5rem;
			    	padding: 1rem;
			    }
		    }
		}
	}
	.static-headline {
	    position: absolute;
	    bottom: 1rem;
	    left: 2rem;
	    background: $brand-primary;
	    padding: 1rem;
	    color: white;
	    margin: 0;
	}
	.section-header {
	    border-bottom: 0;
	    background: $gray-mgc;
		position: relative;
		margin-bottom: 1rem;
	    h4 {
	    	a {
		    	padding: 0;
				margin: 0;
				text-transform: initial;
				font-size: 1.75rem;
				color: white;
				border-bottom:2px solid transparent;
			}
	    }
	    .section-link-all {
		    position: absolute;
		    top: 50%;
		    right: 1.5rem;
		    transform: translateY(-50%);
		    color: white;
		    border-bottom:2px solid transparent;
		}
		a {
			&:hover {
				border-bottom:2px solid $brand-primary;
				color: white;
			}
		}
	}
	.product-list {
		.col-xs-12 {
			margin:0;
		}
	}

}
// Homepage end



// availability-preview start
.availability-preview {
	bottom: 0;
	color: $brand-primary;
	padding: 0 .25rem;
	font-size: .75rem;
	left: unset;
	position: relative;
	width: 100%;
	display:block;
	margin: .25rem auto 0 auto;
	text-align: right;
	font-weight: bold;
   
	&.availability-1 {color:$availability_1;}
	&.availability-2 {color:$availability_2;}
	&.availability-3 {color:$availability_3;}
	&.availability-4 {color:$availability_4;}
	&.availability-5 {color:$availability_5;}
}
// availability-preview end