body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.top-top-bar {
	background-color:#3c3c3b;
	padding: .5rem 0;
	span, i {
		color:white;
		a {
			color:white;
		}
	}
	#controlsList {
		margin:0;
		font-size: 1rem;
		> li {
			a {
				padding:0;
				font-size: 1rem;
					&:hover {
						background-color: unset;
					}
				}
			}	
	}
}

.top-bar {
	background-color: #f2f2f2;
	&.spacer {		
    position: relative;
    visibility: hidden;
	}
	.brand-wrapper {
		position: relative;
		.navbar-brand {
			padding: 0;
		}
	}
	#searchBox2 {
	    padding: 0;
	    position: relative;
	    top: 0;
	    background-color: unset;
	    width: 38%;
	    right: unset;
	    left: 0;
	    margin-right: 2rem;
	    display: block;
	    flex: 1 0 auto;
	    .search-box-inner {
	      padding: 0;
	      margin-top: .15rem;
	        .search-box-shadow-frame {
	          box-shadow: none;
	        }
	        .search-input {
	          padding:.2rem 1rem;
	          background-color: #e6e6e6;
	          	&::placeholder {
	            	font-size: .75rem;
	            	color:#575756;
	          	}
	      	}	
		}
		.search-submit {
		    background: $brand-primary;
		    color: $white;
		    transition: all .3s;
		}	
	}
	.toggle-basket-preview {
		color:#575756;
	}
}
.wrapper-main {
	#page-body {	    	    
	    margin-top: unset;
    }
	.navbar {
		background-color:#e6e6e6;
		border-bottom: none;
		#mainNavbarCollapsable {
			ul{
				&.mainmenu {
					> li {
						padding: .75rem 1rem;
						> a {
							padding: .25rem;
							color: #3c3c3b;
							}
						&:hover {
							background-color: #3c3c3b;
							> a {
								border-bottom: 2px solid $brand-primary;
								color: white;
							}
						}
						> ul {
							background-color: #3c3c3b;	
							> li {
								padding: .75rem 1rem;
								> a {
									padding: 0 0 .25rem 0;
									}
								&:hover {
									background-color: #3c3c3b;
									> a {
										border-bottom: 2px solid $brand-primary;
									}
								}		
							}
						}	
					}
				}
			}
		}
	}
}

